* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}


nav {
  background-color: #21222a;
}
.nav-container {
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px;
  
}

.logo {
  display: flex;
  gap: 7px;
  cursor: pointer;
}
.logo > img {
  width: 28px;
}
.logo-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #61dafb;
}

.project-title {
  color: #deebf8;
  font-size: 1rem;
  font-weight: 600;
  cursor: alias;
}


.main {
  background-color: #282D35;
  color: #fff;
}
.main-container {
  max-width: 1200px;
  height: calc(100vh - 90px);
  margin: 0 auto;
  background: url(./images/react-icon-large.png) no-repeat 100% 18%;
  display: flex;
  flex-direction: column;
  padding: 50px 25px;
}

.main-title {
  font-size: 2.5rem;
  letter-spacing: -0.05em;
}
.main-list {
  margin-top: 45px;
  margin-left: 25px;
  max-width: 400px;
}
.main-list_item {
  margin-bottom: 1.25rem;
}
.main-list_item:last-child {
  margin-bottom: 0;
}
.main-list_item::marker {
  color: #61dafb;
  font-size: 1.5rem;
}